<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522219979587-pcblqum2v465hvi925v5e0ar614a3223.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522219979587-pcblqum2v465hvi925v5e0ar614a3223</string>
	<key>API_KEY</key>
	<string>AIzaSyCHlYOcGlEAcp56lJRMndqVwkpYYhhhSls</string>
	<key>GCM_SENDER_ID</key>
	<string>522219979587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ChatApplication</string>
	<key>PROJECT_ID</key>
	<string>chathalper-6715f</string>
	<key>STORAGE_BUCKET</key>
	<string>chathalper-6715f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522219979587:ios:60c31b5511a5575bb9e5f6</string>
	<key>DATABASE_URL</key>
	<string>https://chathalper-6715f.firebaseio.com</string>
</dict>
</plist>